h1 {
  color: #2f4f4f;
  margin-bottom: 10px;
}

#main-nav {
  margin-top: 10px;
  list-style: none;
  padding-left: 0;
}

#main-nav li {
  display: inline-block;
}

#main-nav a {
  color: white;
  background-color: #13a4a4;
  padding: 5px;
  border-radius: 2px;
  text-decoration: none;
}

.featured {
  background-color: orange !important;
}

html body header h1 { /* Четыре тега #4 */
  color: blue;      /* 0,0,4 */
}

body header.page-header h1 {  /* Два тега и один класс #3 */
  color: orange;            /* 0,1,3 */
}

.page-header .title { /* Два класса #2 */
  color: green;     /* 0,2,0 */
}

#page-title {   /* Один идентификатор #1 */
  color: red; /* 1,0,0 */
}
/*
0,0,4
0,1,3
0,2,0
1,0,0
*/
/* 
Идентификаторы, Классы, Теги
1,2,2
*/