p {
  color: red;
}

a {
  color: peru;
}

li {
  color: purple;
}

.my-super-text {
  color: gold;
  font-size: 22px;
}

.not-super-text {
  color: grey;
}

.big {
  font-size: 24px;
}

.small {
  font-size: 10px;
}

.red {
  color: indianred;
}

.blue {
  color: deepskyblue;
}

.bold {
  font-weight: 700;
}

.thin {
  font-weight: 100;
}

#my-first-unique-text {
  color: indianred;
}

#my-second-unique-text {
  color: seagreen;
}

#my-third-unique-text {
  color: deepskyblue;
}

[placeholder] {
  border: 3px solid darkturquoise;
}

[type="number"] {
  box-shadow: 3px 3px 3px 3px indianred;
}

[type="tel"] {
  box-shadow: 3px 3px 3px 3px #5c7ccd;
}

[type=email] {
  box-shadow: 3px 3px 3px 3px #7bf178;
}

[href*="hh.ru"] {
  padding-left: 1.2em;
  background: url(https://upload.wikimedia.org/wikipedia/commons/7/79/HeadHunter_logo.png) 0 50%/1em no-repeat;
}

[href*="habr.ru"] {
  padding-left: 1.2em;
  background: url(https://habrastorage.org/storage2/ebf/ded/334/ebfded3341c46c05625c8990cb4c5e8e.png) 0 50%/1em no-repeat;
}

[href^="http://"] {
  color: red;
}

[href^="https://"] {
  color: green;
}

[href$=".ruru"] {
  background-image: linear-gradient(
    white 33%,
    blue 33%,
    blue 66%,
    red 66%
  );
}

[href$=".frfr"] {
  background-image: linear-gradient(
    to right,
    blue 33%,
    white 33%,
    white 66%,
    red 66%
  );
}

[href$=".dede"] {
  background-image: linear-gradient(
    black 33%,
    red 33%,
    red 66%,
    yellow 66%
  );
}

[alt~="кот"] {
  border: 10px dashed forestgreen;
}

[class|="warning"] {
  color: orange;
}

[alt*="cat" i] {
  border: 10px dashed cornflowerblue;
}

* {
  border: 1px dotted black;
}

/*Не делать так*/
* {
  font-family: 'Courier New', Courier, monospace;
}

/*ДЕЛАТЬ так*/
* {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

section p {
  color: seagreen;
}

section p span {
  color: darkred;
}

.orange-text {
  color: orange;
}

.purple-text {
  color: purple;
}

h1, h2, h3 {
  color: rgb(255, 132, 132);
  background-color: #0f0c4d;
}

.button {
  background-color: lightgray;
}

.button.is-active {
  background-color: coral;
}

section > h2 {
  color: rgb(32, 255, 3);
}

h2 + p {
  background-color: rgb(14, 14, 5);
  color: khaki;
}

.error-message {
  color: red;
  visibility: hidden;
}

.input.is-invalid + .error-message {
  visibility: visible;
}

h4 ~ p {
  color: hotpink;
}

h5 {
  color: blue;
  color: darkslateblue;
}

.text {
  color: greenyellow;
}

#my-super-text {
  color: rgb(0, 0, 0);
  background-color: #109910;
}