.box1 {
  width: 100px;
  height: 100px;
  background-color: lightpink;

  /* border: 10px solid deepskyblue; */
  /* Тоже самое, что и набор свойств
  border-width: 10px;
  border-style: solid;
  border-color: deepskyblue;
  */

  /* border-top: 15px dotted blue;
  border-right: 15px dotted red;
  border-bottom: 10px solid green;
  border-left: 20px dashed salmon; */

  /* border-block: 20px solid deepskyblue; */
  border-inline: 20px solid deepskyblue;
}

.box2 {
  width: 120px;
  height: 120px;
  background-color: salmon;

  border-style: solid;
  border-color: deepskyblue;

  /* border-width: 10px; */
  /* border-width: thin; */
  /* border-width: medium; */
  /* border-width: thick; */

  border-width: 16px 8px 42px 30px;
}

.box3 {
  width: 80px;
  height: 80px;
  background-color: lightgreen;

  border-width: 6px;
  border-color: dimgray;

  /* border-style: solid;
  border-style: none;
  border-style: dashed;
  border-style: dotted;
  border-style: double;
  border-style: groove;
  border-style: ridge;
  border-style: inset; */
  border-style: outset;
}

.box4 {
  width: 160px;
  height: 160px;
  background-color: lightsalmon;
  
  border-width: 6px;
  border-color: brown;

  /* border-top-style: solid;
  border-right-style: dashed;
  border-left-style: dotted;
  border-bottom-style: inset; */
  border-block-style: outset;
  border-inline-style: groove;
}

.box5 {
  width: 100px;
  height: 200px;
  background-color: whitesmoke;

  border-width: 10px;
  border-style: solid;

  /* border-color: goldenrod; */
  /* border-color: deepskyblue tomato; */
  /* border-color: deepskyblue tomato slateblue; */
  border-color: deepskyblue tomato slateblue cadetblue;
}

.box6 {
  width: 100px;
  height: 100px;
  background-color: pink;

  border-width: 10px;
  border-style: solid;

  /* border-top-color: red;
  border-right-color: blue;
  border-bottom-color: green;
  border-left-color: yellow; */
  border-block-color: red;
  border-inline-color: blue;
}

.box7 {
  width: 120px;
  height: 140px;
  background-color: grey;

  border: 10px solid magenta;
  /* Тоже самое, что и набор свойств 
  border-width: 10px;
  border-style: solid;
  border-color: deepskyblue;  
  */
  box-sizing: border-box;
}

.box8 {
  width: 120px;
  height: 100px;
  background-color: darkred;
  border: 10px solid deepskyblue;

  outline: 5px solid goldenrod;
  
  /* То же самое, что и набор свойств
  outline-width: 5px;
  outline-style: solid;
  outline-color: goldenrod;
  */
}

.box9 {
  width: 100px;
  height: 100px;
  background-color: lightpink;
  border: 10px solid deepskyblue;

  outline: 5px solid gold;

  outline-offset: -25px;
}

.box10 {
  width: 120px;
  height: 120px;
  background-color: lightpink;
  border-radius: 15px;
}

.box11 {
  width: 100px;
  height: 100px;
  background-color: cornflowerblue;

  border-radius: 0 30px 80% 30px;
}

.box12 {
  width: 120px;
  height: 120px;
  background-color: crimson;

  border-radius: 60% 20% / 10% 50%;

  /* То же самое, что и
  border-top-left-radius: 60% 10%;
  border-top-right-radius: 20% 50%;
  border-bottom-right-radius: 60% 10%;
  border-bottom-left-radius: 20% 50%;
  */
}

.box13 {
  width: 100px;
  height: 100px;
  background-color: lightseagreen;
  outline: 5px solid deeppink;
  border-radius: 15px;
}

.box14 {
  margin-left: 20px;
  margin-bottom: 20px;
  width: 120px;
  height: 120px;
  background-color: lawngreen;
  box-shadow: -5px 10px 5px -5px rgb(0 0 255 / 0.5) inset, 5px 5px 5px red;
}

body {
  background-color: lightyellow;
}

img {
  /* filter: blur(10px); */
  /* filter: brightness(1.5); */
  /* filter: contrast(300); */
  /* filter: drop-shadow(15px 15px 15px rgb(60, 30, 233)); */
  /* filter: grayscale(74%); */
  /* filter: hue-rotate(45deg); */
  /* filter: invert(.2); */
  /* filter: opacity(40%); */
  /* filter: saturate(42); */
  filter: sepia(0.8) drop-shadow(15px 15px 15px rgb(60, 30, 233));
}