/1_console-notepad/__pycache__
/2_text-rpg-fallout/__pycache__
/3_rest-api-notebook/__pycache__
/4_mini-api-blog/__pycache__
/4_mini-api-blog/database.db
/5_web-analytics/__pycache__
/6_chat-websocket/__pycache__
/7_task-manager-jwt/__pycache__
/7_task-manager-jwt/taskmanager.db
/8_e-comm-back/__pycache__
/9_person-cabinet-fs/backend/__pycache__
/9_person-cabinet-fs/person_cabinet.db
